{% extends 'layout.html' %}
{% block body %}

    <div class="h_m_banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="bnn_left">
                        <h1>US Finest Online Class <br> Help By Top Industry Professionals.</h1>
                        <ul>
                            <li>Excellent Online Class Takers </li>
                            <li>Timely Submissions</li>
                            <li>Professionals at Service </li>
                        </ul>
                        <a href="javascript:" role="button" data-toggle="modal" data-target="#myModal">get started</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="banner_right">
                        <h4>Place Your Order With Us Now!</h4>
                        <div class="banner_form">
                            <form action="/contact-us" method="post">
                                <div class="form-group">
                                    <input type="text" name="contact_name" placeholder="Name" class="form-control" required="required" onkeypress="return Validate_name(event);">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="contact_email" placeholder="Email Address" class="form-control" required="required" onkeypress="return Validate_email(event);">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="contact_number" placeholder="Phone No" class="form-control" required="required" onkeypress="return Validate_number(event);">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" onkeypress="return Validate_message(event);" placeholder="Instructions" name="contact_msg"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="ban_btn" name="banner_btn">Get the Price</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h_m_sec1">
        <div class="container-fluid">
            <div class="row">
                <div class="sec1_bot">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ser_box">
                            <div class="ser_box_img">
                                <img src="static/img/sec1_img1.png" alt="Online Class Help" />
                            </div>
                            <div class="ser_box_text">
                                <h4>Online Class Aid</h4>
                                <p>Let Experts Handle Your Classes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ser_box">
                            <div class="ser_box_img">
                                <img src="static/img/sec1_img2.png" alt="Take My Online Class" />
                            </div>
                            <div class="ser_box_text">
                                <h4>Online Course Help</h4>
                                <p>We Can Handle Your Course Better</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ser_box">
                            <div class="ser_box_img">
                                <img src="static/img/sec1_img3.png" alt="Take My Online Class For Me" />
                            </div>
                            <div class="ser_box_text">
                                <h4>Online Assignment Help</h4>
                                <p>Let Us Do Your Assignments Online</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="ser_box">
                            <div class="ser_box_img">
                                <img src="static/img/sec1_img4.png" alt="Pay Someone To Take My Online Class" />
                            </div>
                            <div class="ser_box_text">
                                <h4>Online Exam Help</h4>
                                <p>We Can Ace Your Online Exam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h_m_sec2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sec2_left">
                        <h2>‘Take My Online Class’ – Know More Why <span>We Are The Best In The Business.</span></h2>
                        <p>Are you looking for someone you can order “Please Take My Online Class For Me”? Have you heard our name before? We have become very popular among students in the US because of our excellent services. Students keep asking us that
                            “Can you Do My Online Class”? We have been delivering supreme quality of services from 2010. Unknownacademichelp.com has improved and learned a lot with time. A decade has been passed since we started our services and now,
                            we are a brand. If you ask us that, “Can You Do My Online Class For Me?” We will always reply with a YES! <br><br>Success never comes overnight. We have made it all from scratch. Three things played a major role in making Unknownacademichelp.com
                            a huge success; honesty, integrity and dedication. We never turned down any order. When we had a comparatively small team of experts. Now we have more than 500 experts available on-board, who are ever ready to do whatever you
                            ask them to. They can deal with every type of homework or online class problem. So, if you are looking to Pay Someone To Take My Online Class, there is no better option than Unknownacademichelp.com. <br><br>We are now one
                            of the most successful companies when it comes to online class help. Students from different countries like New Zealand, Australia and Canada order our online class help, if they are looking to Pay Someone To Take My Class.
                            We deal with hundreds of orders on daily basis. No one can provide online class help better than us. So, what are your thinking about? Get yourself registered with Unknownacademichelp.com and let us serve you with the best
                            online class and course help in the USA. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="sec2_image">
                        <img src="static/img/sec2_img1.jpg" alt="Do My Online Class">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="h_m_sec3">-->
    <!--	<div class="container-fluid">-->
    <!--   		 <div class="row">-->
    <!--         	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--			  	   <div class="h_sec3_top">-->
    <!--						<h2>We Cover Everything –  <span class="red">Check Out Our Expertise</span> </h2>-->
    <!--						<p>Americanacademichelp.com provides everything you might need. Have a look on the subjects we are pro at. </p>-->
    <!--				   </div>  -->
    <!--			  </div>-->
    <!--              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--			  	   <div class="h_sec3_bot">-->
    <!--				   	    <div id="owl-demo" class="owl-carousel owl-theme">-->
    <!--			      	         <div class="item">-->
    <!--							      <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img1.jpg" alt="Applied Physics">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Applied Physics</a></h2>-->
    <!--                                            <p>Get instant applied physics help by placing your order.</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--                                   <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img2.jpg" alt="Classical Mechanics">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Classical Mechanics</a></h2>-->
    <!--                                            <p>We provide best solutions for classical mechanic students.</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							  </div>-->
    <!--							  <div class="item">-->
    <!--							      <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img3.jpg" alt="Consumer Marketing">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Consumer Marketing</a></h2>-->
    <!--                                            <p>Don’t stress! We provide the best consumer marketing help online. </p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--                                   <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img4.jpg" alt="Organic Chemistry">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Organic Chemistry</a></h2>-->
    <!--                                            <p>Chemistry isn’t easy! But we are here to handle it. </p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							  </div>-->
    <!--							  <div class="item">-->
    <!--							      <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img5.jpg" alt="Electromagnetism and photonics">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Electromagnetism and photonics</a></h2>-->
    <!--                                            <p>We have hired the experts of the field to assist you. </p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--                                   <div class="sec3_box">-->
    <!--                                    <img class="img-responsive" src="img/sec3_img6.jpg" alt="Quantum physics">-->
    <!--                                        <div class="sec3_text">-->
    <!--                                            <h2><a href="">Quantum physics</a></h2>-->
    <!--                                            <p>Get the help from experts of physics. </p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							  </div>-->
    <!--						</div>-->
    <!--				   </div>-->
    <!--			  </div>-->
    <!--	     </div>-->
    <!--	</div>-->
    <!--</div>-->

    <div class="h_m_sec3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="headingstyle1 text-center">
                        <h2 class="bfline">We Provide You With The All Subject Expertise <span class="red">– What’s Your Major?</span> </h2>
                        <p>Unknown.com provides everything you might need. Have a look on the subjects we are pro at. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="listing">
                        <ul class="listing-slider">
                            <li>Marketing</li>
                            <li>Accounting & Finance</li>
                            <li>Information Technology</li>
                            <li>Biological Sciences</li>
                            <li>Macro & Microeconomics</li>
                            <li>Computer Sciences</li>
                            <li>Chemistry</li>
                            <li>Earth & Marine Sciences</li>
                            <li>Economics</li>
                            <li>Health Sciences</li>
                            <li>Law & Legal</li>
                            <li>Life Sciences & Medicine</li>
                            <li>Literature & Creative Drafting</li>
                            <li>Psychology</li>
                            <li>Journalism & Mass Communication</li>
                            <li>Marketing & Advertising</li>
                            <li>History</li>
                            <li>Media Studies & Publishing</li>
                            <li>Medicine & Surgery</li>
                            <li>Pharmacy & Pharmacology</li>
                            <li>Philosophy</li>
                            <li>Art & Design</li>
                            <li>Political Science</li>
                            <li>Music, Visual Arts & Film Studies</li>
                            <li>Creative Writing</li>
                            <li>Business & Management</li>
                            <li>Geography</li>
                            <li>Archaeology</li>
                            <li>Education</li>
                            <li>Math</li>
                            <li>Nursing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h_m_sec4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="sec4_left">
                        <h5>Let Us Make Your Studies Easy-Peasy! </h5>
                        <h2>Facing Hurdles With Your Digital Classes? Let Us Walk You Through It!</h2>
                        <p>Read Our Stats For Better Understanding </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="sec4_mid">
                        <ul>
                            <li>
                                <img src="static/img/sec4_img1.png" alt="Online Class Help"> <br>
                                <span class="counter-count">200 </span> <br>
                                <span class="s4_text">Experts Available</span>
                            </li>
                            <li>
                                <img src="static/img/sec4_img2.png" alt="Take My Online Class"> <br>
                                <span class="counter-count">1000 </span> <br>
                                <span class="s4_text">Orders Completed</span>
                            </li>
                            <li>
                                <img src="static/img/sec4_img3.png" alt="Do My Online Class"> <br>
                                <span class="counter-count">890 </span> <br>
                                <span class="s4_text">Satisfied Customers </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h_m_sec5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="h_sec5_top">
                        <h2>Customer Satisfaction Is Our Top Priority – Always!</h2>
                    </div>
                </div>
                <div class="h_sec5_bot">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div id="owl-demo2" class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="test_box">
                                    <div class="test_box_text">
                                        <img src="static/img/s5_quot.png" alt="Pay Someone To Do My Online Class">
                                        <p>Excellent services! I am highly satisfied with their online class help. Even if you inform them the last moment, they will always tackle with demanding professionalism. This is amazing!</p>
                                        <h5>Louis Buckley</h5>
                                    </div>
                                    <div class="test_box_img">
                                        <img src="static/img/sec5_img2.png" alt="Take My Online Course">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="test_box">
                                    <div class="test_box_text">
                                        <img src="static/img/s5_quot.png" alt="Pay Someone To Take My Online Course">
                                        <p>Average quality but timely delivery! I would recommend students to order from here. Sometimes grades don’t matter to us but the attendance & lecture does. So I am highly recommending this service.</p>
                                        <h5>Charlotte Mason</h5>
                                    </div>
                                    <div class="test_box_img">
                                        <img src="static/img/sec5_img2.png" alt="Hire Someone To Do My Online Course">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="test_box">
                                    <div class="test_box_text">
                                        <img src="static/img/s5_quot.png" alt="Pay Someone To Take My Online Course">
                                        <p>Thankyou Unknown.com for acing my sociology class. All my pending assignments are not just completed but have good remarks from teachers. </p>
                                        <h5>Hollie Lord</h5>
                                    </div>
                                    <div class="test_box_img">
                                        <img src="static/img/sec5_img2.png" alt="Pay Someone To Do My Online Course">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="test_box">
                                    <div class="test_box_text">
                                        <img src="static/img/s5_quot.png" alt="Take My Online Exam">
                                        <p>I am Business Analyst at private firm and definitely don’t have enough time to spend enough time on research to complete assignments. So I chose this platform and it was a good decision overall. </p>
                                        <h5>Reece Warren</h5>
                                    </div>
                                    <div class="test_box_img">
                                        <img src="static/img/sec5_img2.png" alt="Do My Online Exam">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="test_box">
                                    <div class="test_box_text">
                                        <img src="static/img/s5_quot.png" alt="Take My Online Exam">
                                        <p>Really not a person who enjoys studies much. So I definitely like some professional help that keep my information secure & also help me get the work done on time. So here I am! Good experience so far.</p>
                                        <h5>Harrison Howe</h5>
                                    </div>
                                    <div class="test_box_img">
                                        <img src="static/img/sec5_img2.png" alt="Do My Online Exam">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div class="sec5_image">
                            <img src="static/img/sec5_img1.png" alt="Online Course Help">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="h_m_sec6">-->
    <!--     <div class="container-fluid">-->
    <!--          <div class="row">-->
    <!--               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
    <!--			        <div class="sec6_box">-->
    <!--			        	 <h3>4.9</h3>-->
    <!--			        	 <img src="img/sec6_img1.png">-->
    <!--				    </div>   -->
    <!--			   </div>-->
    <!--			   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
    <!--			        <div class="sec6_box">-->
    <!--			        	 <h3>4.8</h3>-->
    <!--			        	 <img src="img/sec6_img2.png">-->
    <!--				    </div>   -->
    <!--			   </div>-->
    <!--			   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
    <!--			        <div class="sec6_box">-->
    <!--			        	 <h3>4.5</h3>-->
    <!--			        	 <img src="img/sec6_img3.png">-->
    <!--				    </div>   -->
    <!--			   </div>-->
    <!--          </div>-->
    <!--	 </div>-->
    <!--</div>-->

    <!--<div class="call">-->
    <!--	 <div class="container">-->
    <!--		  <div class="row">-->
    <!--				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">-->
    <!--					 <p>Sign Up Free & Place Your Order</p8>-->
    <!--					 <h3>Our Early Bird Discounts Are Limited – <span class="span-5">Hurry Up Now!</span></h3>-->
    <!--				</div>-->
    <!--				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">-->
    <!--					 <a href="javascript:" role="button" data-toggle="modal" data-target="#myModal">Order Now</a>-->
    <!--				</div>-->
    <!--		  </div>-->
    <!--	 </div>-->
    <!--</div>-->

    <div class="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="call_top">
                        <p>Sign Up Free & Place Your Order</p>
                        <h3>Our Early Bird Discounts Are Limited – <span class="span-5">Hurry Up Now!</span></h3>
                        <a href="tel:03303431128"><span class="cl_icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>Call Us At</a>
                        <a href="mailto:info@Unknown.com"><span class="call_icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>info@Unknown.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="h_m_sec7">-->
    <!--	<div class="container-fluid">-->
    <!--   		 <div class="row">-->
    <!--         	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--			  	   <div class="h_sec7_top">-->
    <!--						<h2>Meet Our Qualified Experts </h2>-->
    <!--						<p>Don’t Miss Out The Expert Course Help Of Americanacademichelp.com </p>-->
    <!--				   </div>  -->
    <!--			  </div>-->
    <!--              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--			  	   <div class="h_sec7_bot">-->
    <!--				   	    <div id="owl-demo3" class="owl-carousel owl-theme">-->
    <!--			      	         <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img1.png" alt="Hire Someone To Do My Online Course">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Wendy Douglass</h2>-->
    <!--                                            <p>Organic Chemistry Expert</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--							 <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img2.png" alt="Online Course Help">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Joan Perez</h2>-->
    <!--                                            <p>Applied Physics Expert</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--							 <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img3.png" alt="Hire Someone To Do My Online Course">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Lorenza Clark</h2>-->
    <!--                                            <p>Masters in Literature</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--							 <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img4.png" alt="Hire Someone To Do My Online Exam">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Carlos Clark</h2>-->
    <!--                                            <p>Quantum Physics Expert</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--							 <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img5.png" alt="Hire Someone To Do My Online Class">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Billy Teal</h2>-->
    <!--                                            <p>Business Law Expert</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--							 <div class="item">-->
    <!--							      <div class="sec7_box">-->
    <!--                                    <img class="img-responsive" src="img/sec7_img6.png" alt="Pay Someone To Take My Online Class">-->
    <!--                                        <div class="sec7_text">-->
    <!--                                            <h2>Ruth Garcia</h2>-->
    <!--                                            <p>Sociology Expert</p>-->
    <!--                                        </div>-->
    <!--                                   </div>-->
    <!--							 </div>-->
    <!--						</div>-->
    <!--				   </div>-->
    <!--			  </div>-->
    <!--	     </div>-->
    <!--	</div>-->
    <!--</div>-->

    <div class="h_m_sec10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sec10_top">
                        <h2>Some Additional Features When You Choose Us. </h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sec10_bot">
                        <ul>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>100% confidentiality</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>Progress Update</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>Live chat with expert</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>loyalty discounts</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>Minimal service charges</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>24/7 order placement facility</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>fair refund / charge back policy</li>
                            <li><span class="s10_list"><i class="fa fa-check" aria-hidden="true"></i></span>Data security</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="h_m_sec8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="h_sec8_top">
                        <h2>This Platform Gives You Countless Perks On Each Order. </h2>
                    </div>
                </div>
                <div class="h_sec8_bot">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="sec8_box">
                            <div class="sec8_image">
                                <img src="static/img/sec8_img1.png" alt="Take My Online Course">
                            </div>
                            <h4>No Typos</h4>
                            <p>Students often think to Pay Someone To Do My Class, then they look for companies providing excellent qualitity of services. Our homework and contents are error-free. You will never ever find any typos in them. We guarantee
                                you, because of experts are too good at what they do. They leave no place for errors. We never let the interns at Unknownacademichelp.com work for our valuable customers. We provide them 2-years of training before handing
                                over the job. Unknownacademichelp.com never compromises on the quality of content. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="sec8_box">
                            <div class="sec8_image">
                                <img src="static/img/sec8_img2.png" alt="Take My Online Exam">
                            </div>
                            <h4>Plagiarism-free Content</h4>
                            <p>Unknown.com provides 100% plagiarism-free content. Other companies copy content from other sites and researched documents available on internet bur our experts construct the homework of our customers from scratch.
                                Just to satisfy our customers and clear the air our competitors have created; we provide students with software-updated plagiarism free report. So, if you are looking to Pay Someone To Do My Online Class, order our plagiarism
                                free content. Click on the order button today.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="sec8_box">
                            <div class="sec8_image">
                                <img src="static/img/sec8_img3.png" alt="Take My Exam">
                            </div>
                            <h4>Experts at Service</h4>
                            <p>unknown.com never hires anyone who is immature for the job. We have set our bars high because customer satisfaction is our top priority. We can never risk the careers of our valuable customers. The only thing that
                                separates us from other helpers available online is that. ‘We Care’. Not everyone will care about your studies future like we do. Believe in us like other students, and we will never disappoint you as well. We already have
                                many satisfied customers and it would be an honor to count you among them. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h_m_sec9">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="ser_form">
                        <form action="/contact-us" method="post">
                            <div class="sr_form">
                                <h3><span class="bol">EXCLUSIVE <strong>50% DISCOUNT –</strong></span> Avail With Just A Call! </h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <span class="pop_icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                            <input type="text" placeholder="First Name" name="contact_name" class="form-control" required="required" onkeypress="return Validate_name(event);">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <span class="pop_icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            <input type="text" placeholder="Email" name="contact_email" class="form-control" required="required" onkeypress="return Validate_name(event);">
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <span class="pop_icon"><i class="fa fa-book" aria-hidden="true"></i></span>
                                            <select class="form-control" aria-invalid="false" name="s4_subject">
        										 <option value="Assignments">Our Services</option>
        										 <option value="Assignments">Assignments</option>
        										 <option value="Business Proposal">Business Proposal</option>
        										 <option value="Case Study">Case Study</option>
        										 <option value="Coursework">Coursework</option>
        										 <option value="Dissertation">Dissertation</option>
        										 <option value="Essay">Essay</option>
        										 <option value="Power Point Presentation">Power Point Presentation</option>
        										 <option value="Research Paper">Research Paper</option>
        										 <option value="Term Paper">Term Paper</option>
        										 <option value="Thesis">Thesis</option>
										        </select>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <span class="pop_icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            <input type="number" placeholder="Phone" name="contact_number" class="form-control" required="required" onkeypress="return Validate_number(event);">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <span class="pop_icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                            <textarea class="form-control" rows="3" placeholder="Message" onkeypress="return Validate_message(event);" name="contact_msg"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="s4_btn" name="sec4_btn">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="footer">-->
    <!--	<div class="foot_top">-->
    <!--	    <div class="container">-->
    <!--		    <div class="row">-->
    <!--			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 foo">-->
    <!--				     <div class="foot_box">-->
    <!--			            <h3>Useful Links</h3>-->
    <!--				        <ul>-->
    <!--							<li><a href="online-class-help.php">Online Class Help</a></li>-->
    <!--							<li><a href="online-course-help.php">Online Course Help</a></li>-->
    <!--							<li><a href="online-exam-help.php">Online Exam Help</a></li>-->
    <!--							<li><a href="terms-conditions.php">terms &amp; conditions</a></li>-->
    <!--                            <li><a href="contact-us.php">contact us</a></li>-->
    <!--				        </ul>-->
    <!--				    	<h3>Disclaimer</h3>-->
    <!--				        <p>Americanacademichelp.com is a registered company and abides by all the laws and regulations the government of United State has imposed. Nobody is allowed to steal the content from our website. We have no other branch. </p>-->
    <!--			         </div>-->
    <!--				</div>-->
    <!--	        </div>-->
    <!--         </div>-->
    <!--	</div>-->
    <!--	<div class="foot_bottom">-->
    <!--        <div class="container">-->
    <!--		    <div class="row">-->
    <!--	             <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">-->
    <!--		             <p>© Americanacademichelp.com All Rights Reserved.</p>-->
    <!--			     </div>-->
    <!--			     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
    <!--			     	  <div class="fot_img">-->
    <!--			     	  		<img src="img/foot_img.png" alt="payment">-->
    <!--			     	  </div>-->
    <!--			     </div>-->
    <!--			</div>-->
    <!--	    </div>-->
    <!--     </div>-->
    <!--</div> -->

{% endblock %}