<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/icon/fav.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.css">
    <link rel="stylesheet" href="static/css/bootstrap-datepicker3.min.css">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">



    <title>Unknown Academic Help: Premium Assistance For Online Classes & Courses </title>
    <meta name="description" content="Looking to pay someone to take my online class? Then we’re providing online class help. You can hire someone to do my online class from us. Book us now!	">
    <meta name="Keywords" content="Online Class Help,Take My Online Class,Take My Online Class For Me,Pay Someone To Take My Online Class,Do My Online Class,Hire Someone To Do My Online Class,Pay Someone To Do My Online Class">
    <link rel="canonical" href="/">


    <!-- Global site tag (gtag.js) - Google Ads: 416775474 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-416775474"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'AW-416775474');
    </script>
    <!-- Event snippet for Website traffic conversion page -->
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-416775474/ezqsCMyEo_kBELL63cYB'
        });
    </script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
</head>

<body>
    <div class="header">
        <div class="head_mid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="logo">
                            <a href="/">
								 <img src="static/ img/logo.png" alt="" title="Academichelp">
							  </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="head_mid_right">
                            <ul>
                                <li><a href="tel:03303431128"><span class="top_icon"><i class="fa fa-phone" aria-hidden="true"></i></span>+92 330 3431128</a></li>
                                <li><a href="mailto:info@Unknown.com"><span class="top_icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>info@Unknown.com</a></li>
                                <li><a href="javascript:void(Tawk_API.toggle())"><span class="top_icon"><i class="fa fa-commenting-o" aria-hidden="true"></i></span>Live Chat Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="head_bot">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="main_navigation">
                            <div class="navbar navbar-inverse" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										 <span class="sr-only">Toggle navigation</span>
										 <span class="icon-bar"></span>
										 <span class="icon-bar"></span>
										 <span class="icon-bar"></span>
									   </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/">Home</a></li>
                                        <li class="dropdown">
                                            <a href="javascript:" class="" role="button" data-toggle="dropdown">Services<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu" style="display: none;">
                                                <li><a href="/online-class">Online Class</a></li>
                                                <li><a href="/online-course">Online Course</a></li>
                                                <li><a href="/online-exam">Online Exam</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="javascript:" class="" role="button" data-toggle="dropdown">Subjects<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu" style="display: none;">
                                                <li><a href="/online-class">Accounting Class</a></li>
                                                <li><a href="/online-class">Economics Class</a></li>
                                                <li><a href="/online-class">Education Class</a></li>
                                                <li><a href="/online-class">Finance Class</a></li>
                                                <li><a href="/online-class">Geography Class</a></li>
                                                <li><a href="/online-class">History Class</a></li>
                                                <li><a href="/online-class">IT Class</a></li>
                                                <li><a href="/online-class">Management Class</a></li>
                                                <li><a href="/online-class">Programming Class</a></li>
                                                <li><a href="/online-class">Psychology Class</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                                        <li><a href="/contact-us">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="head_bot_right">
                            <a href="javascript:" role="button" data-toggle="modal" data-target="#myModal">Order Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}


    
    <div class="footer">
        <div class="foot_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 foo">
                        <div class="foot_box">
                            <img src="static/img/logo.png" alt="Online Class Help">
                            <p>Unknown.com is a registered company and abides by all the laws and regulations the government of United State has imposed. Nobody is allowed to steal the content from our website. We have no other branch. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foo">
                        <div class="foot_box">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="/online-class">Online Class</a></li>
                                <li><a href="/online-course">Online Course</a></li>
                                <li><a href="/online-exam">Online Exam</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 foo">
                        <div class="foot_box">
                            <h3>UseFul Links</h3>
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/contact-us.html">contact us</a></li>
                                <li><a href="/terms-conditions">terms &amp; conditions</a></li>
                                <li><a href="tel:03303431128">03303431128</a></li>
                                <li><a href="mailto:info@unknown.com">info@unknown.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <p>© Unknown All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="fot_img">
                            <img src="static/img/foot_img.png" alt="Pay Someone To Do My Online Course">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pop up window -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="pop_heading">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h5>top grades with money back guarantee</h5>
                    <!--<h4>Prices Starting From Just $3.99!</h4>-->
                </div>
                <div class="modal-body ">
                    <div id="popupform" class="inform">
                        <div class="row">
                            <form action="thank-you.html" method="post">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="field">
                                        <span class="pop_icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                        <input type="text" name="pop_name" placeholder="Name" class="form-control" required="required" onkeypress="return Validate_name(event);">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="field">
                                        <span class="pop_icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <input type="email" name="pop_email" placeholder="Email" class="form-control" required="required" onkeypress="return Validate_email(event);">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="field">
                                        <span class="pop_icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        <input type="number" name="pop_phone" placeholder="Phone Number" class="form-control" required="required" onkeypress="return Validate_number(event);">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="field">
                                        <span class="pop_icon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
                                        <textarea class="form-control" onkeypress="return Validate_message(event);" name="pop_msg"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="field">
                                        <button type="submit" class="pop_btn" name="popup_form">Sign-Up Now</button>
                                    </div>
                                </div>
                            </form>
                            <p>*Terms &amp; Conditions Apply</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pop up -->

    <div class="floating_wrap">
        <div class="btns_wrap"> <a href="javascript:void(Tawk_API.toggle())" class="chat_wrap" onclick="setButtonURL();"> <span class="icoo"><i class="fa fa-comments"></i></span> <span>Chat With Us</span> </a> <a href="tel:+923303431128" class="call_wrap"> <span class="icoo"><i class="fa fa-phone"></i></span> <span>+92 330 3431128</span> </a>            </div>
    </div>

    <!-- WhatsApp -->

    <a href="https://api.whatsapp.com/send?phone=+923303431128&amp;text=Hi Unknown, I need Help." class="whatspp-icon"> <img src="img/whatsapp.png" width="70px"> </a>

    <!-- WhatsApp -->

    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/owl.carousel.js"></script>

    <script>
        // Captcha Script

        function checkform(theform) {
            var why = "";

            if (theform.CaptchaInput.value == "") {
                why += "- Please Enter CAPTCHA Code.\n";
            }
            if (theform.CaptchaInput.value != "") {
                if (ValidCaptcha(theform.CaptchaInput.value) == false) {
                    why += "- The CAPTCHA Code Does Not Match.\n";
                }
            }
            if (why != "") {
                alert(why);
                return false;
            }
        }

        var a = Math.ceil(Math.random() * 9) + '';
        var b = Math.ceil(Math.random() * 9) + '';
        var c = Math.ceil(Math.random() * 9) + '';
        var d = Math.ceil(Math.random() * 9) + '';
        var e = Math.ceil(Math.random() * 9) + '';

        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha").value = code;
        document.getElementById("CaptchaDiv").innerHTML = code;

        // Validate input against the generated number
        function ValidCaptcha() {
            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('CaptchaInput').value);
            if (str1 == str2) {
                return true;
            } else {
                return false;
            }
        }

        // Remove the spaces from the entered and generated code
        function removeSpaces(string) {
            return string.split(' ').join('');
        }
    </script>

    <script>
        function checkform2(theform) {
            var why = "";

            if (theform.CaptchaInput2.value == "") {
                why += "- Please Enter CAPTCHA Code.\n";
            }
            if (theform.CaptchaInput2.value != "") {
                if (ValidCaptcha(theform.CaptchaInput2.value) == false) {
                    why += "- The CAPTCHA Code Does Not Match.\n";
                }
            }
            if (why != "") {
                alert(why);
                return false;
            }
        }

        var a = Math.ceil(Math.random() * 9) + '';
        var b = Math.ceil(Math.random() * 9) + '';
        var c = Math.ceil(Math.random() * 9) + '';
        var d = Math.ceil(Math.random() * 9) + '';
        var e = Math.ceil(Math.random() * 9) + '';

        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha2").value = code;
        document.getElementById("CaptchaDiv2").innerHTML = code;

        // Validate input against the generated number
        function ValidCaptcha() {
            var str1 = removeSpaces(document.getElementById('txtCaptcha2').value);
            var str2 = removeSpaces(document.getElementById('CaptchaInput2').value);
            if (str1 == str2) {
                return true;
            } else {
                return false;
            }
        }

        function removeSpaces(string) {
            return string.split(' ').join('');
        }
    </script>
    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll >= 150) {
                $(".head_bot").addClass("darkHeader");
            } else {
                $(".head_bot").removeClass("darkHeader");
            }
        });
    </script>

    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                autoplay: true,
                autoPlay: 5000,
                items: 3,
                itemsDesktop: [1000, 3],
                itemsDesktopSmall: [900, 3],
                itemsTablet: [600, 1],
                center: true,
                loop: true,
                autoplayHoverPause: true,
                martSpeed: 1200,
                navigation: true,

            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#owl-demo2").owlCarousel({
                autoplay: true,
                autoPlay: 5000,
                items: 1,
                itemsDesktop: [1000, 2],
                itemsDesktopSmall: [900, 2],
                itemsTablet: [600, 1],
                center: true,
                loop: true,
                autoplayHoverPause: true,
                martSpeed: 1200,
                navigation: true,

            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $("#owl-demo3").owlCarousel({
                autoplay: true,
                autoPlay: 5000,
                items: 3,
                itemsDesktop: [1000, 3],
                itemsDesktopSmall: [900, 3],
                itemsTablet: [600, 1],
                center: true,
                loop: true,
                autoplayHoverPause: true,
                martSpeed: 1200,
                navigation: true,

            });
        });
    </script>

    <script>
        $('ul.nav li.dropdown').hover(function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function() {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>

    <script>
        $('.counter-count').each(function() {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 50000,
                easing: 'swing',
                step: function(now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/603e9826385de407571bceff/1evq84mdb';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    <!-- Global site tag (gtag) - Google Ads: 416775474 -->
    <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
            {
                "vars": {
                    "gtag_id": "AW-416775474",
                    "config": {
                        "AW-416775474": {
                            "groups": "default"
                        }
                    }
                },
                "triggers": {}
            }
        </script>
    </amp-analytics>
    {% block script %} {% endblock %}
</body>

</html>