{% extends 'layout.html' %}
{% block body %}



<div class="inner_page_banner">
	 <div class="container">
          <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          	        <h1>Terms &amp; conditions</h1>
               </div>
          </div>  
      </div>
</div>


<div class="terms_condition_section">
     <div class="container">
          <div class="row">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">  
                    <div class="terms_cond_inner">
                      <p>UnknownAcademicHelp assists students of US with their online classes, online courses & online exams. We provide 100% genuine help to all the students who look for professional services of experts online. Our platform has gathered the best US professors to facilitate students with the services mentioned above. All the services discussed are provided on very economical rates. <br> <br> Unknownacademichelp.com would like to request all its customers to read the terms and conditions before they place their order. This let our team to avoid all sorts of miscommunications in the process. We want to have transparent service policy so our customers can have their faith in our services completely. UnknownAcademicHelp look for a long term service relation with its customers.  </p>
                         <h3>CONDITIONS FOR SAFETY & SECURITY</h3>
                         <p>Unknownacademichelp.com provides guaranteed safety to its customers. We expect our clients to cooperate with us for the matter. We never share your information or any subject related to third party. The provided information by the clients are always kept in record for UnknownAcademicHelp staff personal use only.</p>
                         <h3>REFUND POLICY</h3>
                         <p>At UnknownAcademicHelp, we want to earn your trust for a long term. Here you be sure about your money. We provide fair refund policy for our respected students. Read the terms and conditions mentioned below and then proceed with your order.</p>
                         <ul>
                            <li>We refund the whole amount we have charged for our service. Once the refund request is finalized from the Quality Assurance team, we refund you the full amount charged for the order.</li>
                            <li>The claim of refund is only processed if the request is justified. For example, your assignment or quiz deadline is missed. Our QA team always makes the final decision.</li>
                            <li>Claim the refund if our expert, by any chance have failed the test or the grades aren’t as per the commitment.</li>
                            <li>We keep archives of our customer’s chat. You will be compensated only if your claim is reliable.</li>
                        </ul>
                        <h3>COPYRIGHTS</h3>
                        <ul>
                            <li>We have made it very clear that all our services must not be utilized for any illegal matters. Students are strictly directed to use it for the educational purposes only.</li>
                            <li>Our services are for students only & they are obliged not to utilize it with any third party.</li>
                        </ul>
                    </div>
               </div>
	      </div>
	 </div>
</div>

{% endblock %}